body {
  padding: 100px 150px;
}

.submit-area {
  margin-top: 50px;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 1px 9px 40px #80808075;
}

#transaction-side {
  display: none;
}

.status {
  margin: 0 20px;
  border-radius: 10px;
  color: aliceblue;
  padding: 20px 20px;
}
.deposit {
  background-color: slateblue;
}

.withdraw {
  background-color: lightsalmon;
}

.balance {
  background-color: orange;
}